{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>amazone</title>

		<meta name="keywords" content="amazone sarl" />
		<meta name="description" content="amazone">


    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/amazone.ico' %}" type="image/x-icon" />

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CPlayfair+Display:400,400i,700%7CSintony:400,700,800&display=swap" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/animate/animate.compat.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.min.css' %}">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme-elements.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme-blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme-shop.css' %}">

    <!-- Demo CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="{% static 'css/skins/skin-church.css' %}">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

	</head>
	<body>

		<div class="body">
		    <header id="header" class="header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': false, 'stickyStartAt': 100, 'stickyHeaderContainerHeight': 70}">
        <div class="header-body border-top-0">
            <div class="header-top">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <p class="alternative-font-4 mb-0"><strong class="text-color-dark">A journey of exploration, innovation, and excellence in the field of drilling!</strong></p>
                        </div>
                        <div class="col-auto d-flex align-items-center">
                            <nav>
                                <ul class="list list-unstyled d-flex text-1 mb-0">
{#                                    <li class="mb-0"><a href="{% url 'drilling' %}#talkus" class="alternative-font-4 text-decoration-none text-3-5 font-weight-bold">PLAN YOUR VISIT</a></li>#}
{#                                    <li class="mb-0 ms-4-5 d-none d-sm-block"><a href="{% url 'events' %}" class="alternative-font-4 text-decoration-none text-3-5 font-weight-bold">CALENDAR</a></li>#}
                                </ul>
                            </nav>
                            <div class="header-nav-features d-none d-md-block ms-5-5">
                                <ul class="header-social-icons social-icons social-icons-clean social-icons-icon-dark social-icons-medium me-2 mb-0 d-none d-sm-block ms-1">
                                    <li class="social-icons-instagram">
                                        <a href="http://www.instagram.com/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="social-icons-x">
                                        <a href="http://www.x.com/" target="_blank" title="X"><i class="fab fa-x-twitter"></i></a>
                                    </li>
                                    <li class="social-icons-facebook">
                                        <a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-row">
                            <div class="header-logo">
                                <a href="{% url 'home' %}">
                                    <img alt="Porto" width="123" height="48" src="{% static 'img/logo_amazone.jpg' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="header-column justify-content-end">
                        <div class="header-row">
                            <div class="header-nav order-2 order-lg-1 alternative-font-4">
                                <div class="header-nav-main header-nav-main-square header-nav-main-dark-text header-nav-main-effect-1 header-nav-main-sub-effect-1">
                                    <nav class="collapse">
                                        <ul class="nav nav-pills" id="mainNav">
                                            <li><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                                            <li><a class="nav-link active" href="{% url 'drilling' %}">Drilling</a></li>
                                            <li><a class="nav-link" href="{% url 'safety' %}">Safety and quality</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
                                    <i class="fas fa-bars"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
			<div role="main" class="main">

				<section class="page-header page-header-modern page-header-background page-header-background-sm parallax overlay overlay-color-dark overlay-show overlay-op-1 my-0" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="{% static 'img/about_us.jpg' %}">
                    <div class="container">
                        <div class="row my-5">
                            <div class="col-md-12 align-self-center text-center">
                                <h1 class="text-9 text-color-light custom-secondary-font font-weight-bold mb-1">Drilling</h1>
{#                                <p class="text-color-light custom-secondary-font text-uppercase mb-0">Drilling</p>#}
                            </div>
                        </div>
                    </div>
                </section>



				<section class="section section-no-border bg-color-light m-0">
					<div class="container">
						<div class="row">
							<div class="col-lg-7 col-sm-7">
								<h2 class="font-weight-bold">EXPLORATORY DRILLING</h2>
                                <p>Our agile drilling team always mobilizes quickly to meet your deadlines and schedules. Once there, they will focus on obtaining productive drilling results and, above all, on the constant achievement of the target and delivery of quality carrot and chip samples. .</p>
								<p class="text-2">At Amazon Drilling Limited, for every project we look for opportunities to improve efficiency and reduce costs for our customers and ensure that we meet the budget. <br>We work closely with the geological team of customers, providing information on changing soil conditions, and we are therefore flexible to adapt to changes in programs drilling</p>
							</div>
							<div class="col-lg-5 col-sm-5 d-none d-sm-block">

                            <div class="custom-box-squares">
                                <img class="custom-cloud left-pos-2" alt src="{% static 'img/church/others/left-cloud.png' %}" />
                                <div class="custom-big-square left-pos-2 custom-box-shadow" style="background: url('{% static 'img/slide_3.jpg' %}'); background-size: cover;"></div>
                                <div class="custom-small-square left-pos-2 custom-box-shadow" style="background: url('{% static 'img/slide_2.jpg' %}'); background-size: cover;"></div>
                            </div>
							</div>
						</div>
					</div>
				</section>


                <section class="section bg-color-tertiary section-no-border m-0">
                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <img src="{% static 'img/drilling1.webp' %}" alt class="img-fluid custom-border-1 custom-box-shadow" style="width: 350px; height: auto;" />
                {#								<a href="#" class="btn btn-primary custom-btn-style-1 text-uppercase float-end mt-3">View Gallery</a>#}
                                            </div>
                                            <div class="col-lg-6 mb-4 mb-md-0">
                                                <h2 class="font-weight-bold">Hands-free rod handlers</h2>
                                                <p>With innovation as our focus, Topdrill is proud to be the first to bring hands-free operation on all rigs. This innovation has put Topdrill at the forefront of the industry and provides staff with the confidence that comes with improved rig safety. As a company, Topdrill is constantly looking at ways to minimise crew and rod interaction to improve safety and efficiency. The cup design using gravity ensures excellent inherent safety with limited potential for dropped rods and a narrow line of fire area.</p>
                                            </div>

                                        </div>
                                    </div>

                </section>


				<section id="talkus" class="section section-no-border bg-color-light m-0">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 mb-4 mb-md-0">
								<h2 class="font-weight-bold">Hands-free breakouts fitted to all rigs</h2>
								<p>True hands-free breakout of drill pipe on both Reverse Circulation (Airdrill system) and Diamond Drilling rigs. This removes crew from line of fire hazards. </p>
								<p>This innovation requires the operator to hold a deadman switch whilst engaging the slew lever. If either the switch or lever is released, the tool will stop moving automatically. This removes the need for hand tools (stillsons). </p>
								<p>We also utilise diesel free, hydraulics run agitators and mud pumps.</p>
							</div>
							<div class="col-lg-6">
								<img src="{% static 'img/drilling2.webp' %}" alt class="img-fluid custom-border-1 custom-box-shadow" style="width: 350px; height: auto;" />
{#								<a href="#" class="btn btn-primary custom-btn-style-1 text-uppercase float-end mt-3">View Gallery</a>#}
							</div>
						</div>
					</div>
				</section>

                   <section class="section bg-color-tertiary section-no-border m-0">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img src="{% static 'img/drilling3.webp' %}" alt class="img-fluid custom-border-1 custom-box-shadow" style="width: 350px; height: auto;" />
    {#								<a href="#" class="btn btn-primary custom-btn-style-1 text-uppercase float-end mt-3">View Gallery</a>#}
                                </div>
                                <div class="col-lg-6 mb-4 mb-md-0">
                                    <h2 class="font-weight-bold">Access ladders and platforms fitted to Diamond Rings</h2>
                                    <p>A safety ladder access platform, engineered to meet Australian Standards (AS 1657 – 2013) are fitted to all Topdrill Sandvik DE880 Drill Rigs. </p>
                                    <p>From a safety perspective, this means that 3 points of contact can be maintained at all times.</p>

                                </div>

                            </div>
                        </div>

                    </section>

                <section id="talkus" class="section section-no-border bg-color-light m-0">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 mb-4 mb-md-0">
								<h2 class="font-weight-bold">Isolation Verification Tags</h2>
								<p>Isolation saves lives. These locks and tags are positioned at the point of isolation and serve as a physical barrier to operation, and a visual reminder that if the machine is operated there is a risk of personal injury or equipment damage..</p>
							</div>
							<div class="col-lg-6">
								<img src="{% static 'img/drilling4.webp' %}" alt class="img-fluid custom-border-1 custom-box-shadow" style="width: 350px; height: auto;" />
{#								<a href="#" class="btn btn-primary custom-btn-style-1 text-uppercase float-end mt-3">View Gallery</a>#}
							</div>
						</div>
					</div>
				</section>
                                   <section class="section bg-color-tertiary section-no-border m-0">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img src="{% static 'img/drilling5.webp' %}" alt class="img-fluid custom-border-1 custom-box-shadow" style="width: 350px; height: auto;" />
    {#								<a href="#" class="btn btn-primary custom-btn-style-1 text-uppercase float-end mt-3">View Gallery</a>#}
                                </div>
                                <div class="col-lg-6 mb-4 mb-md-0">
                                    <h2 class="font-weight-bold">MODULAR MUD TANK</h2>
                                    <p>Can be operated from controls at tank with main on/off functionality at control panel Internal agitator to ensure most efficient mud yield Hopper and hootenanny for adding muds. Innovative design with simple construction. Modular – tank attaches to 10ft container locks. No chains/straps. Engineered – All lift points are rated and engineered with safety as the focus. The agitator and mud pump are contained in the unit and require no manual handling during shifting. Agitator and mud pump run off rig hydraulics so are reliable and effecient. .</p>

                                </div>

                            </div>
                        </div>

                    </section>
                              <section id="talkus" class="section section-no-border bg-color-light m-0">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-10">
{#                                <h2 class="font-weight-bold custom-text-color-1 m-0">Us</h2>#}
                                <h2 class="font-weight-bold custom-text-color-1 m-0">We implement environment friendly drilling operations</h2>

                            </div>
                            <div class="col-lg-2 mt-4 mt-lg-0">
                                <a href="mailto:office@amazone-drc.com" class="btn btn-primary custom-btn-style-1 text-uppercase">Write to us</a>

                            </div>
                        </div>
                    </div>
                </section>
			    <footer id="footer" class="bg-color-dark-200 custom-footer m-0">
                    <div class="container pt-5">
                        <div class="row text-center">
                            <div class="col">
                                <a href="{% url 'home' %}" class="text-decoration-none">
                                    <img src="{% static 'img/logo_amazone.jpg' %}" width="123" height="48" alt class="img-fluid custom-img-fluid-center" />
                                </a>
                            </div>
                        </div>
                        <hr class="solid tall custom-hr-color-1">
                        <div class="row justify-content-center text-center">
                            <div class="col-lg-3 custom-sm-margin-bottom-1">
                                <i class="fas fa-map-marker-alt text-color-primary custom-icon-size-1"></i>
                                <p class="custom-text-color-2 alternative-font-4 text-3-5">
                                    <strong class="d-block text-color-light custom-secondary-font text-5-5 line-height-8 mb-1">Amazone sarl</strong>
                                    DRC, </br>Haut-uélé, Doko (durba centre) <br> Q\Lebrun, territouire de wats. <br> Chefferie de kibali
                                </p>
                            </div>
                            <div class="col-lg-4 custom-sm-margin-bottom-1">
                                <i class="far fa-clock text-color-primary custom-icon-size-1"></i>
                                <p class="custom-text-color-2 alternative-font-4 text-3-5">
                                    <strong class="d-block text-color-light custom-secondary-font text-5-5 line-height-8 mb-1">Work day</strong>
                                    Mon - Wen<br>
                                    8.00 am - 5.00 pm
                                </p>
                            </div>
                            <div class="col-lg-3">
                                <i class="fas fa-phone-volume text-color-primary custom-icon-size-1"></i>
                                <p class="alternative-font-4 text-3-5">
                                    <strong class="d-block text-color-light custom-secondary-font text-5-5 line-height-8 mb-1">Call us now</strong>
                                    <a href="tel:+243813763882" class="text-decoration-none custom-text-color-2">Phone : (243) 813 763 882</a></br>
                                    <a href="mailto:office@amazone-drc.com" class="text-decoration-none custom-text-color-2">Email : office@amazone-drc.com</a>
                                </p>
                            </div>
                        </div>
                        <hr class="solid tall custom-hr-color-1">
                        <div class="row text-center pb-5">
                            <div class="col">
                                <ul class="social-icons social-icons-clean custom-social-icons mb-3">
                                    <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="social-icons-googleplus"><a href="http://www.google.com/" target="_blank" title="Google Plus"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li class="social-icons-x"><a href="http://www.x.com/" target="_blank" title="X"><i class="fab fa-x-twitter"></i></a></li>
                                    <li class="social-icons-instagram"><a href="http://www.instagram.com/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                                <p class="alternative-font-4 text-3 text-color-light opacity-7">© Copyright 2024. All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </footer>

		</div>

{#		<a class="style-switcher-open-loader" href="#" data-base-path="" data-skin-src="{% static 'master/less/skin-church.less' %}" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="right" title="Style Switcher" aria-label="Style Switcher">#}
{#        <i class="fas fa-cogs"></i>#}
{#        <div class="style-switcher-tooltip">#}
{#            <strong>Style Switcher</strong>#}
{#            <p>Check out different color options and styles.</p>#}
{#        </div>#}
    </a>

    <!-- Vendor -->
    <script src="{% static 'vendor/plugins/js/plugins.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.countdown/jquery.countdown.min.js' %}"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="{% static 'js/theme.js' %}"></script>

    <!-- Current Page Vendor and Views -->
    <script src="{% static 'js/views/view.contact.js' %}"></script>

    <!-- Demo -->
    <script src="{% static 'js/demo-church.js' %}"></script>

    <!-- Theme Custom -->
    <script src="{% static 'js/custom.js' %}"></script>

    <!-- Theme Initialization Files -->
    <script src="{% static 'js/theme.init.js' %}"></script>

	<!-- Google Maps -->
		<script>

			/*
			Map Markers:
			- Get an API Key: https://developers.google.com/maps/documentation/javascript/get-api-key
			- Generate Map Id: https://console.cloud.google.com/google/maps-apis/studio/maps
			- Use https://www.latlong.net/convert-address-to-lat-long.html to get Latitude and Longitude of a specific address
			*/
			(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
				({key: "YOUR_API_KEY", v: "weekly"});

			async function initMap() {
				const { Map, InfoWindow } = await google.maps.importLibrary("maps");
				const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary(
					"marker",
				);
				const map = new Map(document.getElementById("googlemaps"), {
					zoom: 14,
					center: { lat: -37.817240, lng: 144.955820 },
					mapId: "YOUR_MAP_API_ID",
				});
				const markers = [
					{
						position: { lat: -37.817240, lng: 144.955820 },
						title: "Office 1<br>Melbourne, 121 King St, Australia<br>Phone: 123-456-1234",
					}
				];

				const infoWindow = new InfoWindow();

				markers.forEach(({ position, title }, i) => {
					const pin = new PinElement({
						background: "#e36159",
						borderColor: "#e36159",
						glyphColor: "#FFF",
					});
					const marker = new AdvancedMarkerElement({
						position,
						map,
						title: `${title}`,
						content: pin.element,
					});

					marker.addListener("click", ({ domEvent, latLng }) => {
						const { target } = domEvent;

						infoWindow.close();
						infoWindow.setContent(marker.title);
						infoWindow.open(marker.map, marker);
					});
				});

			}

			initMap();

		</script>
        </div>
	</body>
</html>